.js.is-loading .page__body {
  overflow: hidden
}

.page__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh)*100);
  overflow-x: hidden
}

.page__header {
  width: 100%
}

.page__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.page__footer {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.page__preloader {
  background-color: #000;
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 900
}

.is-loaded .page__preloader,
.no-js .page__preloader {
  display: none
}

:root {
  --color-brand: #ffb509;
  --bs-gutter-x: 24px
}

body {
  background-color: #313131;
  color: #fff;
  font-weight: 460
}

#form-modal {
  max-width: 100%;
  width: 480px
}

.b24-form-sign {
  display: none !important
}

.b24-form-wrapper.b24-form-border-bottom {
  border-bottom: none !important
}

.page {
  min-height: 100vh;
  overflow: hidden
}

.text-subtitle-1 {
  color: var(--color-brand);
  font-size: 14px
}

.text-subtitle-2 {
  font-size: 15px;
  font-weight: 600
}

.text-subtitle-3 {
  color: var(--color-brand);
  font-size: 16px
}

.home-contact {
  padding-top: 50px
}

.home-contact .phone {
  color: inherit;
  font-size: 40px;
  font-weight: 700
}

.home-contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 0
}

.home-contact .social li {
  padding: 8px 12px
}

.home-contact .social li img {
  margin-right: 4px
}

.home-contact .social li a {
  color: inherit
}

.contact {
  padding-top: 80px
}

.contact .contact-line {
  margin-bottom: 28px
}

.contact h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 40px
}

@media (min-width:992px) {
  .contact h1 {
    font-size: 60px
  }
}

.contact .headline-subtext {
  margin-top: 30px
}

.contact .text-1 {
  font-size: 15px;
  font-weight: 600
}

.contact .phone {
  color: inherit;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px
}

.contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 0
}

.contact .social li {
  padding: 8px 12px
}

.contact .social li img {
  margin-right: 4px
}

.contact .social li a {
  color: inherit
}

.contact .form {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px
}

.page-header {
  padding-bottom: 20px;
  padding-top: 120px
}

.page-header .logo {
  height: auto;
  width: 240px
}

.page-header .logo img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%
}

.page-header .header-line {
  border-bottom: 1px solid #fff;
  margin: auto;
  width: 80%
}

.page-header .seo-master {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.page-header .seo-master .avatar {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  -ms-flex-negative: 0;
  border-radius: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 60px;
  margin-right: 12px;
  overflow: hidden;
  width: 60px
}

.page-header .seo-master .avatar img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%
}

.page-header .seo-master .seo-master__text {
  font-size: 13px;
  line-height: 1.3
}

.page-header .seo-master .seo-master__text .color {
  color: var(--color-brand)
}

.page-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
  top: 4px
}

@media (min-width:768px) {
  .page-header .menu {
    margin-left: 32px;
    margin-right: 32px
  }
}

.page-header .menu li {
  padding: 12px
}

.page-header .menu a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap
}

.section-1 {
  padding-bottom: 80px;
  padding-top: 80px
}

.section-1 h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 40px
}

@media (min-width:992px) {
  .section-1 h1 {
    font-size: 60px
  }
}

.section-1 .headline-subtext {
  margin-top: 30px
}

.section-1 .text-1 {
  font-size: 15px;
  font-weight: 600
}

@media (min-width:768px) {
  .section-1 .description {
    max-width: 280px
  }
}

@media (max-width:767.98px) {
  .section-1 .button-container {
    text-align: center
  }
}

.section-1 .button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  background-color: transparent;
  background-image: none;
  border: 2px solid var(--color-brand);
  border-radius: 100%;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 15px;
  font-weight: 600;
  height: 160px;
  justify-content: center;
  position: relative;
  text-align: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 160px;
  z-index: 1
}

.section-1 .button:after {
  background-color: var(--color-brand);
  border-radius: 100%;
  content: "";
  height: 120%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  width: 120%;
  z-index: -1
}

.section-1 .button:hover {
  border-color: transparent;
  -webkit-transform: scale(1.1) translateX(-10px) translateY(20px);
  -ms-transform: scale(1.1) translateX(-10px) translateY(20px);
  transform: scale(1.1) translateX(-10px) translateY(20px)
}

.section-1 .button:hover:after {
  opacity: 1
}

.section-1 .left {
  z-index: 2
}

.section-1 .right {
  position: relative
}

.section-1 .right:after {
  background-image: -o-radial-gradient(#2f4f4d 0, #313131 70%);
  background-image: radial-gradient(#2f4f4d 0, #313131 70%);
  content: "";
  height: 800px;
  position: absolute;
  right: 0;
  top: -200px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  width: 600px;
  z-index: -1
}

.section-2 {
  padding-bottom: 120px;
  padding-top: 120px
}

.section-2 .item {
  max-width: 320px
}

.section-2 .item .header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px
}

.section-2 .item .smile {
  margin-right: 10px
}

.section-2 .item .label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c8a97), to(#52595e));
  background-image: -o-linear-gradient(#7c8a97, #52595e);
  background-image: linear-gradient(#7c8a97, #52595e);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px
}

.section-2 .item .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px
}

.section-2 .item .description {
  font-size: 14px
}

.section-2 .video-list {
  max-width: 320px
}

.section-2 .video-item {
  background-color: #3d3d3d;
  border-radius: 24px;
  color: inherit;
  display: block;
  margin-top: 40px;
  padding-top: 56%;
  position: relative
}

.section-2 .video-item .count {
  bottom: 10%;
  font-size: 100px;
  font-weight: 900;
  left: 10%;
  letter-spacing: .04em;
  line-height: 1;
  opacity: .3;
  pointer-events: none;
  position: absolute
}

.section-3 {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative
}

.section-3:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), color-stop(25%, #2f4f4d), color-stop(75%, #5f573a), to(#313131));
  background-image: -o-linear-gradient(top, #313131 0, #2f4f4d 25%, #5f573a 75%, #313131 100%);
  background-image: linear-gradient(180deg, #313131, #2f4f4d 25%, #5f573a 75%, #313131);
  border-radius: 100%;
  content: "";
  -webkit-filter: blur(100px);
  filter: blur(100px);
  height: 600px;
  left: 10%;
  position: absolute;
  top: -150px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  width: 400px;
  z-index: -1
}

.section-3 .container {
  position: relative
}

.section-3 img {
  max-width: 100%
}

@media (min-width:768px) {
  .section-3 img {
    left: -30px;
    max-width: 300px;
    position: absolute;
    top: -75px
  }
}

.section-3 h2 {
  font-size: calc(1.35rem + 1.2vw)
}

@media (min-width:1200px) {
  .section-3 h2 {
    font-size: 2.25rem
  }
}

@media (min-width:768px) {
  .section-3 h2 {
    padding-left: 300px
  }
}

.section-3 h2 .colored {
  color: #7750c7
}

.section-5 {
  padding-bottom: 80px;
  padding-top: 80px
}

.section-5 .section-header h2 {
  max-width: 480px
}

.section-5 .section-header .text-subtitle-3 {
  max-width: 320px
}

.section-5 .item .header {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px
}

.section-5 .item .header img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 80px
}

.section-5 .item .header .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  margin-left: 12px
}

.section-5 .item .body {
  font-size: 14px
}

.section-6 {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative
}

.section-6:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), color-stop(25%, #2f4f4d), color-stop(75%, #362a4e), to(#313131));
  background-image: -o-linear-gradient(top, #313131 0, #2f4f4d 25%, #362a4e 75%, #313131 100%);
  background-image: linear-gradient(180deg, #313131, #2f4f4d 25%, #362a4e 75%, #313131);
  border-radius: 100%;
  content: "";
  -webkit-filter: blur(100px);
  filter: blur(100px);
  height: 600px;
  left: 10%;
  position: absolute;
  top: -150px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  width: 500px;
  z-index: -1
}

.section-6 .container {
  position: relative
}

.section-6 img {
  max-width: 100%
}

@media (min-width:768px) {
  .section-6 img {
    left: -100px;
    max-width: 400px;
    position: absolute;
    top: -50px
  }
}

.section-6 h2 {
  font-size: calc(1.35rem + 1.2vw)
}

@media (min-width:1200px) {
  .section-6 h2 {
    font-size: 2.25rem
  }
}

@media (min-width:768px) {
  .section-6 h2 {
    padding-left: 300px
  }
}

.section-6 h2 .colored {
  color: #ffb509
}

.section-7 {
  padding-bottom: 80px;
  padding-top: 80px
}

.section-7 .section-header {
  position: relative;
  z-index: 2
}

.section-7 .section-header h2 {
  max-width: 480px
}

.section-7 .section-header .text-subtitle-3 {
  max-width: 320px
}

.section-7 .items-wrapper {
  margin-top: 60px
}

.section-7 .items-scroll {
  position: relative;
  width: 100%;
  z-index: 1
}

.section-7 .items-scroll:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), color-stop(25%, #52544b), color-stop(75%, #3a5057), to(#313131));
  background-image: -o-linear-gradient(top, #313131 0, #52544b 25%, #3a5057 75%, #313131 100%);
  background-image: linear-gradient(180deg, #313131, #52544b 25%, #3a5057 75%, #313131);
  border-radius: 100%;
  content: "";
  -webkit-filter: blur(100px);
  filter: blur(100px);
  height: 120%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: -1
}

.section-7 .items {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.section-7 .item,
.section-7 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.section-7 .item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-flex: 0;
  background-color: #4d4d4d;
  border-radius: 20px;
  -webkit-box-shadow: 0 100px 80px rgba(0, 0, 0, .07), 0 41.7776px 33.4221px rgba(0, 0, 0, .05), 0 22.3363px 17.869px rgba(0, 0, 0, .042), 0 12.5216px 10.0172px rgba(0, 0, 0, .035), 0 6.6501px 5.32008px rgba(0, 0, 0, .028), 0 2.76726px 2.21381px rgba(0, 0, 0, .02);
  box-shadow: 0 100px 80px rgba(0, 0, 0, .07), 0 41.7776px 33.4221px rgba(0, 0, 0, .05), 0 22.3363px 17.869px rgba(0, 0, 0, .042), 0 12.5216px 10.0172px rgba(0, 0, 0, .035), 0 6.6501px 5.32008px rgba(0, 0, 0, .028), 0 2.76726px 2.21381px rgba(0, 0, 0, .02);
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  margin-right: 24px;
  width: 310px
}

.section-7 .item .top {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 24px;
  padding: 24px
}

.section-7 .item .bottom {
  -webkit-box-flex: 0;
  background-color: #3d3d3d;
  border-radius: 19px;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  font-size: 13px;
  padding: 24px
}

.section-7 .item .bottom ul {
  list-style: none;
  padding-left: 0
}

.section-7 .item .bottom li:before {
  background-color: currentColor;
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 4px;
  margin-right: 5px;
  position: relative;
  top: -1px;
  width: 4px
}

.section-7 .item .bottom a {
  color: inherit;
  text-decoration: underline
}

.section-7 .item .header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px
}

.section-7 .item .header .title {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  min-height: 40px
}

.section-7 .item .header .img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 20px
}

.section-7 .item .header .img img {
  height: auto;
  width: 36px
}

.section-7 .item .body {
  font-size: 14px
}

.section-8 {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative
}

.section-8:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), color-stop(25%, #2f4f4d), color-stop(75%, #362a4e), to(#313131));
  background-image: -o-linear-gradient(top, #313131 0, #2f4f4d 25%, #362a4e 75%, #313131 100%);
  background-image: linear-gradient(180deg, #313131, #2f4f4d 25%, #362a4e 75%, #313131);
  border-radius: 100%;
  content: "";
  -webkit-filter: blur(100px);
  filter: blur(100px);
  height: 600px;
  left: 10%;
  position: absolute;
  top: -150px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  width: 500px;
  z-index: -1
}

.section-8 .container {
  position: relative
}

@media (min-width:768px) {
  .section-8 img {
    left: -50px;
    max-width: 300px;
    position: absolute;
    top: -50px
  }
}

.section-8 h2 {
  font-size: calc(1.35rem + 1.2vw)
}

@media (min-width:1200px) {
  .section-8 h2 {
    font-size: 2.25rem
  }
}

@media (min-width:768px) {
  .section-8 h2 {
    padding-left: 300px
  }
}

.section-8 h2 .colored {
  color: #01ac6a
}

.section-9 {
  padding-bottom: 120px;
  padding-top: 80px;
  position: relative
}

.section-9 .list-items {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between
}

.section-9 .item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 320px;
  padding-bottom: 50px;
  padding-left: 120px;
  padding-top: 70px;
  position: relative;
  width: 100%;
  z-index: 1
}

@media (min-width:992px) {
  .section-9 .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 320px
  }
}

.section-9 .count {
  color: #687181;
  font-size: 240px;
  font-weight: 700;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  z-index: -1
}

.section-9 .title {
  font-weight: 700;
  margin-bottom: 16px
}

.section-9 .body {
  font-size: 14px
}

.section-10 {
  padding-bottom: 80px;
  padding-top: 80px
}

.section-10 h2 {
  font-size: 40px
}

@media (min-width:768px) {
  .section-10 h2 {
    font-size: 48px
  }
}

.section-10 .form {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px
}

.noise {
  background-image: url(../assets/noise.gif);
  background-repeat: repeat;
  background-size: auto;
  display: block;
  height: 100%;
  left: 0;
  opacity: .02;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000
}

::-moz-selection {
  background: #764fc4;
  color: #fff
}

::selection {
  background: #764fc4;
  color: #fff
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.h1,
h1 {
  font-size: calc(1.3625rem + 1.35vw);
  font-weight: 600;
  line-height: 130%;
  margin: 0
}

@media (min-width:1200px) {

  .h1,
  h1 {
    font-size: 2.375rem
  }
}

.h2,
h2 {
  font-size: calc(1.275rem + .3vw);
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
  margin-top: 0
}

@media (min-width:1200px) {

  .h2,
  h2 {
    font-size: 1.5rem
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 16px;
  margin-top: 0
}

.container {
  max-width: 1240px !important
}

@media (min-width:768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px
  }
}